OS_AUTH_URL=http://keystone.example.com:5000/v3
OS_USERNAME=demo
OS_PASSWORD=passw0rd
OS_PROJECT_NAME=demo
OS_USER_DOMAIN_NAME=Default
OS_PROJECT_DOMAIN_NAME=Default
OS_REGION_NAME=RegionOne
OS_INTERFACE=public
# OS_VERIFY can be True/False or a CA bundle path
OS_VERIFY=True
